*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #2f9c95;
  --secondary: #3a445d;
  --gray: #928779;
  --light-primary: #fcdebe;
  --light-secondary: #e8d8b2;
  --white: #e5f9e0;
  --black: #181012;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--white);
  color: var(--black);
}

h3,
h1,
p {
  margin: 0;
}

.fw-800 {
  font-weight: 800;
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
