section.hero-wrapper {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(315deg, var(--secondary), var(--light-secondary));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

section.hero-wrapper h1 {
  font-size: 6vw;
  text-align: center;
}

section.hero-wrapper h1 span {
  color: var(--light-primary);
}

section.hero-wrapper .btn-in-touch {
  border: 0.3vw solid var(--white);
  padding: 5px 10px;
  margin-top: 12px;
  border-radius: 10px 4px;
  color: var(--light-secondary);
  font-weight: bold;
  font-size: 3vw;
}

.btn-in-touch:active {
  background: linear-gradient(45deg, var(--light-secondary), var(--white));
  color: var(--secondary) !important;
}

/* Main Section */
#main {
  transition: all 0.5s ease-in-out;
}

/* Header */
header.header-mobile {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  padding: 18px;
  position: sticky;
  top: 0;
  background-color: var(--white);
  transition: all 0.5s ease-in-out;
}

header.header-mobile div.header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.header-mobile div.header-item div {
  display: flex;
  align-items: center;
}

header.header-mobile div.header-item div img {
  margin-right: 8px;
}

header.header-mobile div.menu-dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  transition: all 2s ease-in-out;
}

div.menu-dropdown a {
  color: var(--black);
  padding: 8px 0;
  transition: all 2s;
  -webkit-transition: all 2s;
  font-size: 3vw;
}

div.menu-dropdown a.resume {
  border: 0.3vw solid var(--primary);
  padding: 8px;
  width: fit-content;
  border-radius: 8px;
}

a.resume:active {
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.5s;
}

/* Hero */
section.hero {
  text-align: center;
  padding: 18px;
}

section.hero h1 {
  margin-bottom: 12px;
}

section.hero p {
  margin-bottom: 5rem;
}

/* About Me */
section#about-me {
  background-color: var(--primary);
  width: 100%;
  padding: 36px 18px;
  color: var(--white);
}

section#about-me p {
  margin: 20px 0;
}

section#about-me div a {
  color: var(--white);
  font-size: 3vw;
}

section#about-me div {
  border: 0.3vw solid var(--white);
  padding: 8px 12px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 8px 14px;
}

/* Section Skill */
section#skill {
  padding: 36px 18px;
}

div.card-skill {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.6);
  margin: 20px 0;
  border-radius: 8px;
  padding: 12px;
}

div.card-front img {
  width: 100%;
}

div.card-front h4.title {
  margin: 12px 0;
  font-weight: bold;
}

/* Section Get in Touch */
section#get-in-touch {
  background-color: var(--secondary);
  color: var(--white);
  padding: 36px 18px;
}

section#get-in-touch p {
  margin: 20px 0;
}

.btn-mail {
  margin: 0 auto;
  border: 0.3vw solid var(--white);
  width: fit-content;
  padding: 8px 12px;
  border-radius: 8px 14px;
}

.btn-mail a {
  color: var(--white);
  font-size: 3vw;
}

.btn-mail:active {
  background-color: var(--white);
  color: var(--secondary);
  transition: all 0.5s;
}

/* Footer */
footer {
  margin-top: 12px;
  text-align: center;
  font-size: smaller;
  color: var(--gray);
}
