section.hero-wrapper {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(315deg, var(--secondary), var(--light-secondary));
  display: flex;
  justify-content: center;
  align-items: center;
}

section.hero-wrapper h1 {
  font-weight: bold;
  font-size: 6vw;
  text-align: center;
}

section.hero-wrapper h1 span {
  color: var(--light-primary);
}

/* Header */
header.header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  padding: 18px;
  position: sticky;
  top: 0;
  background-color: var(--white);
}

header.header-mobile div {
  display: flex;
  align-items: center;
}

header.header-mobile div img {
  margin-right: 8px;
}

/* Hero */
section.hero {
  text-align: center;
  padding: 18px;
}

section.hero h1 {
  margin-bottom: 12px;
}

section.hero p {
  margin-bottom: 5rem;
}

/* About Me */
section#about-me {
  background-color: var(--primary);
  width: 100%;
  padding: 36px 18px;
  color: var(--white);
}

section#about-me p {
  margin: 20px 0;
}

section#about-me div a {
  color: var(--white);
}

section#about-me div {
  border: 4px solid var(--white);
  padding: 18px 44px;
  text-align: center;
  border-radius: 0 8px;
}
